ABI/
illumos-gate/
arm-docs/
archives/
build/
src/
reference/
stamps/
out/

**/.make.state
**/*.o
**/*.a
**/*.so
**/*.so.*

qemu-setup/illumos-disk.img
qemu-setup/inetboot.bin
qemu-setup/testsuite.log
qemu-setup/u-boot.bin
rpi4-setup/
