ABI/
illumos-gate/
arm-docs/
archives/
build/
reference/
stamps/
perl-5.36.0/
perl-cross-1.4/
dtc-1.6.1/

illumos-gate/
gcc/
binutils-gdb/
u-boot/

cross/
sysroot/

**/.make.state
**/*.o
**/*.a
**/*.so
**/*.so.*

qemu-setup/illumos-disk.img
qemu-setup/inetboot.bin
