ABI/
illumos-gate/
arm-docs/
archives/
build/
idnkit-2.3/
libxml2-2.9.9/
reference/
stamps/
zlib-1.2.12/
openssl-3.0.7/
xorriso-1.5.4/
dtc-1.6.1/

illumos-gate/
gcc/
binutils-gdb/
nspr/
nss/
u-boot/

cross/
sysroot/

**/.make.state
**/*.o
**/*.a
**/*.so
**/*.so.*

qemu-setup/illumos-disk.img
qemu-setup/inetboot.bin
